.hero__section {
	margin-top: 120px;
}

.hero__content h2 {
	line-height: 55px;
	font-size: 2.5rem;
}

.hero__content p {
	font-size: 1rem;
	font-weight: 300;
}

.hero__content h2 span {
	/*background:  linear-gradient(-45deg, #e250e5, #4b50e6, #e250e5, #4b50e6);
	background-size: 100% 100%;
	background-clip: text;
	-webkit-text-stroke:  3px transparent;
	-webkit-text-fill-color:  #14141f;
	margin-left:  7px !important;
	display:  inline-block;*/
	color: #e5e31a;
}

.hero__btns {
	margin-top: 40px;
}

.explore__btn, .create__btn {
	border: none;
	outline: none;
	padding: 7px 25px !important;
	border-radius: 50px !important;
	border: 50px !important;
	border: 1px solid #5142FC !important;
	font-size: 0.9rem;
	transition: 0.3s;
	color: #fff !important;
}

.explore__btn {
	background: #5142fc;
}

.create__btn {
	background: transparent;
}

.hero__btns a {
	text-decoration: none !important;
}

.create__btn:hover {
	background: #5142fc;
}

.explore__btn:hover {
	background: #fff;
	color: #5142fc !important;
}


.explore__btn i, .create__btn i {
	font-size: 1rem;
}

.hero__img {
	width: 500px;
	max-width: 100%;
	margin-right: auto;
	/*position: absolute;*/
	width: 350px;
	height: 350px;
	background: linear-gradient(to top left, red, #e5e31a) !important;
	border-radius: 50%;
	text-align: center;
	justify-content: center;
	margin: auto;
}

.hero__img img {
	border-radius: 7px;
}

@media only screen and (max-width:  992px) {
	.hero__img {
		width: 250px;
		height: 250px;
	}

	.hero__section {
		margin-top: 90px;
	}

	.hero__content h2 {
		font-size: 1.5rem;
		line-height: 45px;
	}

	.hero__content p {
		font-size: 0.8rem;
		line-height: 25px;
	}

	.explore__btn, .create__btn {
	padding: 4px 25px !important;
	}

	.explore__btn a, .create__btn a {
	font-size: 0.7rem;
	}
}

@media only screen and (max-width:  576px) {
	.hero__img {
		margin-bottom: 50px;
		width: 200px;
		height: 200px;
		text-align: center;
		justify-content: center;
	}

	.hero__content {
		text-align: center;
	}

	.hero__btns {
		justify-content: center;
	}
}